<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @if (ViewBag.Description == null)
    {
        <meta name="description" content="Автодатчики, Автодатчики Лямбда зонды, Датчик для авто, Датчики для авто, Автоэлектрика, Датчик кислорода, датчики кислорода" />
    }
    else
    {
        <meta name="description" content="@ViewBag.Description" />
    }
    <meta name="keywords" content="@ViewBag.keywords" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Главная</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="AboutMe">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Contacts">Оплата и доставка</a>
                        </li>

                        <li class="nav-item mt-2">
                            <form asp-controller="Home" asp-action="PageWithCateg" method="get">
                                <input class="pl-1" type="search" typeof="text" name="search" placeholder="Введите ключевое слово или номер" />
                            </form>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ml-2 mr-2">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Детали
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Panel" asp-action="Index">Список деталей</a>

                                        <a class="dropdown-item" asp-controller="Panel" asp-action="Edit">Добавить новую деталь</a>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item ">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Категории
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Category" asp-action="Edit">Добавить новую категорию</a>

                                        <a class="dropdown-item" asp-controller="Category" asp-action="CategoryList">Список категорий</a>

                                        <a class="dropdown-item" asp-controller="Panel" asp-action="EditAbout">Редактировать информацию</a>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Выйти</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Войти</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </div>



    <div class="d-flex bd-highlight" style="background-color:transparent;">

        <div class="p-0 w-75 bd-highlight ml-5"><a asp-controller="Home" asp-action="Index"><img src="~/content/static/Logo.png" height="70" width="400" class="mt-1 mb-1"></a></div>
        <div class="p-0 flex-shrink-1 bd-highlight col-md-offset-4">
            <div class=" col-md-offset-4"><b>Телефоны: (066)-966-80-46</b></div>
            <div class=" col-md-offset-4"><b>(096)-105-19-96</b></div>
            <div class=" col-md-offset-4"><b>Email: Lambdazond1@gmail.com</b></div>
        </div>
    </div>

    <div class="mb-1">
        @await Html.PartialAsync("_CategoryListPartial.cshtml")
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="mr-5 d-inline-flex float-right">
        <p>&copy; All rights reserved</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
