@model IndexViewModel

@{
    ViewBag.Title = Model.Category;
}
<h2>@Model.Category</h2>

@if (Model.Posts?.Count() > 0)
{

    <div>
        <div class="container-fluid">
            <div class="row ml-5">
                @foreach (var post in Model.Posts)
                {
                    
                    <div class="col-3 mb-1 ml-1" style="background-color:#fafafa">
                        @if (!String.IsNullOrEmpty(post.Image))
                        {
                            var image_path = $"/Image/{post.Image}";
                            <img src="@image_path" width="200" height="200" />
                        }
                        <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                            @post.Title
                        </a>
                        <br />
                        <label>@Convert.ToInt32(post.Price).ToString() грн.</label>

                    </div>
                }

            </div>
        </div>
        <ul>
        </ul>

        <div>
            @if (Model.PageNumber > 1)
            {
                <a class="btn btn-success ml-1" asp-action="PageWithCateg" asp-controller="Home" asp-route-category="@Model.Category"
                   asp-route-search="@Model.Search"
                   asp-route-pageNumber="@(Model.PageNumber-1)">《</a>

            }

            @if (Model.CanNextPage)
            {
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <a class="btn btn-success ml-1" asp-action="PageWithCateg" asp-controller="Home" asp-route-category="@Model.Category"
                       asp-route-search="@Model.Search"
                       asp-route-pageNumber="@i">@i</a>
                }

                <a class="btn btn-success ml-1" asp-action="PageWithCateg" asp-controller="Home" asp-route-category="@Model.Category"
                   asp-route-search="@Model.Search"
                   asp-route-pageNumber="@(Model.PageNumber + 1)">》</a>

            }
        </div>
    </div>
}
else
{
    <label> В этой категории ещё нет деталей </label>
}
