@model Post

@{
        ViewData["Title"] = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.keywords = $"{Model.Tags?.Replace(",", "")} {Model.Category}";
}

<div class="d-flex flex-row bd-highlight mb-1">
    <div class=" bd-highlight">

        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var image_path = $"/Image/{Model.Image}";
            <img src="@image_path" width="300" height="300" />

        }

    </div>
    <div class="bd-highlight"   >
        <h5> @Model.Title</h5>
        <br />
        <label><strong> Производитель</strong> : @Model.Manufacturer</label>
        <br />
        <label> <strong>Номер детали</strong>  : @Model.DetailNumber</label>
        <br />
        <label>
            <strong>Наличие</strong> :
            @(Model.IsAble ? "В наличии" : "Не в наличии")
        </label>
        <br />
        <label><strong>Цена </strong>: @Convert.ToInt32(Model.Price) грн.</label>
    </div>
</div>

<label><strong>Описание детали:</strong> </label>

<div class="border">

<p>@Html.Raw(Model.Body)</p>
</div>
