@model PostViewModel
@{
    ViewData["TItle"] = "Управление деталью";
}
<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<div>
    <form asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input asp-for="Id" type="hidden" />

                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Название детали -
                    </label>
                </td>
                <td>
                    <input asp-for="Title" />
                </td>

            </tr>
            <tr>
                <td>
                    <label>
                        Описание для поисковиков -
                    </label>
                </td>
                <td>
                    <input asp-for="Description" />
                </td>

            </tr>
            <tr>
                <td>

                    <label>
                        Теги -
                    </label>
                </td>
                <td>
                    <input asp-for="Tags" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Категория -
                    </label>
                </td>

                @*@if (Model.Category == null)
                {*@
                    <td>
                        <select asp-for="CategoryId">
                            @foreach (var cat in ViewBag.Categories)
                            {
                                <option value="@cat.Id_Category">@cat.CategoryName</option>
                            }

                        </select>
                    </td>
                @*}
                else
                {
                    <td>
                    </td>
                    <td>
                        <label>@Model.Category.CategoryName</label>
                        <input asp-for="CategoryId" type="hidden" value="@Model.CategoryId" />
                    </td>

                }*@
            </tr>
            <tr>
                <td>
                    <label>
                        Производитель -
                    </label>
                </td>
                <td>
                    <input asp-for="Manufacturer" />
                </td>

            </tr>
            <tr>
                <td>
                    <label>
                        В наличии -
                    </label>
                </td>
                <td>
                    @Html.CheckBox("IsAble", Model.IsAble)
                </td>

            </tr>
            <tr>
                <td>
                    <label>
                        Номер детали -
                    </label>
                </td>
                <td>
                    <input asp-for="DetailNumber" />
                </td>

            </tr>
            <tr>
                <td>
                    <label>
                        Цена -
                    </label>
                </td>
                <td>
                    <input asp-for="Price" />
                </td>

            </tr>
            <tr>
                <td>
                    <label>
                        Основное описание -
                    </label>
                </td>
                <td>
                    <textarea id="editor" asp-for="Body"> </textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Фото детали -
                    </label>
                </td>
                <td>
                    <input asp-for="CurrentImage" type="hidden" />
                    <input asp-for="Image" />

                </td>

            </tr>
            <tr>
                <td>
                    <input type="submit" value="Сохранить" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section Scripts{
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>
        $('#editor').trumbowyg();
    </script>
}
