@model IEnumerable<Post>

@{

}
<h2>Панель администратора</h2>
<div>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Действия
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id"> @post.Title</a>
                    </td>
                    <td>
                        <span>категория - @post.Category?.CategoryName</span>
                    </td>
                    <td>
                        <a class="btn btn-success" asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                            Редактировать
                        </a>
                        
                        <a class="btn btn-danger" asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                            Удалить
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul>
    </ul>
</div>