@model IEnumerable<Post>

@{

}
<h2>Панель администратора</h2>
<div>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <span>Название детали <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id"> @post.Title</a> </span>
                <span>категория - @post.Category?.CategoryName</span>

               
                
                <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                    Edit
                </a>
                -
                <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                    Remove
                </a>
            </li>
        }
    </ul>
</div>